<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.minderx"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/minderx_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.minderx.PatientListActivity"
            android:label="@string/title_activity_patient_list" >
        </activity>
        <activity
            android:name="com.example.minderx.PatientInfoActivity"
            android:label="@string/title_activity_patient_info" >
        </activity>
        <activity
            android:name="com.example.minderx.PatientBloodPressureActivity"
            android:label="@string/title_activity_patient_blood_pressure" >
        </activity>
        <activity
            android:name="com.example.minderx.PatientHeartRateActivity"
            android:label="@string/title_activity_patient_heart_rate" >
        </activity>
        <activity
            android:name="com.example.minderx.PatientSaLevelActivity"
            android:label="@string/title_activity_patient_sa_level" >
        </activity>
        <activity
            android:name="com.example.minderx.PatientTemperatureActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:parentActivityName="com.example.minderx.PatientInfoActivity"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.minderx.PatientInfoActivity" />
        </activity>
        <activity
            android:name="com.example.minderx.GraphPatientInfoActivity"
            android:label="@string/title_activity_graph_patient_info" >
        </activity>
        <activity
            android:name="com.example.minderx.ManagePatientsActivity"
            android:label="@string/title_activity_manage_patients" >
        </activity>
        <activity
            android:name="com.example.minderx.PatientTempatureActivity"
            android:label="@string/title_activity_patient_tempature" >
        </activity>
    </application>

</manifest>